@use "../utils" as *;


.section8 {
    max-width: none;
    background: $dark-yellow;

    &__container {
        padding: 6rem 0rem;
    }

    &__header {
        text-align: center;

        a {
            display: inline-block;
            margin-top: 1rem;
            text-decoration: underline;
        }
    }

    &__title {
        font-size: 3rem;
    }

    &__stats {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 9rem 0rem;
        padding-top: 8rem;
    }

    &__stat {
        text-align: center;

        h1 {
            font-size: 4.5rem;
            font-weight: 900;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2rem;
        }
    }

    @media (width <=1024px) {
        &__title {
            font-size: 2.5rem;

        }

        &__stats {
            gap: 6rem 0rem;
            padding-top: 4rem;
        }

        &__stat {
            h1 {
                font-size: 4rem;
            }
        }
    }

    @media (width <=768px) {
        &__container {
            padding: 3rem 0rem;
        }

        &__title {
            font-size: 2.2rem;
        }

        &__stats {
            gap: 4rem 0rem;
            padding-top: 4rem;
        }

        &__stat {
            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.1rem;
            }
        }
    }

    @media (width <=480px) {
        &__title {
            font-size: 1.8rem;
        }


    }
}