@use "../utils" as *;


.section6 {
    &__container {
        padding: 4rem 0rem;
    }

    &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__tab-content {
        flex: 1 1 0rem;
        display: flex;
        flex-direction: column;
        gap: 2rem 0rem;
        padding: 3rem 2rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 500;

        h4 {
            text-transform: capitalize;
        }

        p {
            color: $gray-blue;

            &::first-letter {
                text-transform: capitalize
            }
        }

        a {
            @include flex();
            gap: 0rem .4rem;
            color: $blue;
        }
    }

    &__tab-img {
        flex: 2 1 20rem;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    @media (width <=1024px) {
        &__title {
            font-size: 2.5rem;
        }

        &__tab-img {
            flex: 2 1 0;
        }

        &__tab-content {
            padding-right: 1rem;
        }
    }

    @media (width <=768px) {
        &__container {
            padding: 3rem 0rem;
        }

        &__title {
            font-size: 2.2rem;
        }

        &__tab-img {
            flex: 1.5 1 0;
        }

        &__tab-content {
            padding-top: 0rem;
        }
    }

    @media (width <=480px) {
        &__container {
            a {
                font-size: 1rem;
            }
        }

        &__title {
            font-size: 1.8rem;
        }

        &__tab-content {

            p {
                font-size: 1rem;
            }
        }
    }
}